<div class="sourthParkGuide-canvas" ng-draggable="">

    <img src="images/noeyes.png" class="img-responsive sourthParkGuide-guide"/>
    <div class="popover fade left in sourthParkGuide-dialog" role="tooltip"  style="top: 93.5px; left: -129px; display: block;">
        <div class="arrow" style="top: 50%;"></div>

        <sourthparkdialog class="popover-content sourthParkGuide-dialog-content" ng-model="dialog"></sourthparkdialog>
        <h3 class="popover-title pull-right" ><a class="sourthParkGuide-speakNext" style="cursor:pointer" ng-click="speakNext()">Next</a></h3>
    </div>
    <img src="images/eye.png" class="img-responsive sourthParkGuide-lefteye"/>
    <img src="images/eye.png" class="img-responsive sourthParkGuide-righteye"/>

</div>