<div id="entitiesFrame" style="position: relative; width: 100%; height: 100%; overflow: auto; background-color: white;" ng-controller="entityManagerController">
    <button class="btn  btn-default" ng-click="addModel()" style="position:absolute;top:5px;right:10px;"><span class="glyphicon glyphicon-plus"></span>Add Model</button>
    <div ng-cleanconnector></div>
    <div ng-repeat="(eIndex,model) in models" id="{{model.name}}" class="entityDiv" style="top: {{(eIndex+1)*30}}px; left: {{(eIndex+1)*30}}px">
        <!-- ng-draggable-->
        <p><strong><a  href="#/grid?entityName={{model.name}}">{{model.name}}</a></strong></p>
        <div id="{{model.name}}_id"  class="attributeDiv" ng-connector="true" style="width: 100%"><span class="glyphicon glyphicon-queen pull-left" aria-hidden="true" style="display: inline-block"></span><p style="display: inline-block">_id</p></div>
        <div ng-repeat="(attrName,attr) in model.schema " id="{{model.name}}_{{attrName}}" class="attributeDiv" ng-connector="{{attr.ref!=null}}">
            <p>{{attrName}}</p>
        </div>
        <div style="position: absolute; left: -2px; top: -2px;"><span class="glyphicon glyphicon-tag" aria-hidden="true"></div>
    </div>
    <div ng-repeat="m in models">
        <div ng-repeat="(attrName,a) in m.schema">
            <relationship>

            </relationship>
        </div>
    </div>
</div>

