<div class="view" style="width:auto">
    <div class="container" style="width:auto">

            <div class="row">
                <div style="display: inline-block">
                    File Path:
                </div>
                <div style="display: inline-block">
                    <input type="text" name="filePath" class="form-control" data-ng-model="filePath" required />
                    
                </div>
                <span class="errorMessage" ng-show="popupForm.filePath.$touched && popupForm.filePath.$invalid">File Path is required
              </span>
            </div>

    </div>
</div>
